# Python & Django
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
*.log
backend/venv/
backend/.env

# Node & Frontend
node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
.DS_Store

# IDE & OS
.vscode/
.idea/
Thumbs.db
